* {
    margin: 0;
}

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        justify-content: space-around;
        background-color: skyblue;
    }

    main {
        height: 100vh;
        width: 1024px;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-top: 10px;
        width: 1024px;
        height: 200px;
        display: flex;
    }

    .logo {
        height: 100%;
        width: 20%;
        background-color: royalblue;
    }

    .rubrik {
        height: 100%;
        width: 80%;
        background-color: salmon;
    }

    #container {
        background-color: skyblue;
        height: calc(100% - 200px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .del {
        height: 90%;
        width: 45%;
        background-color: teal;
    }

    .del2 {
        display: grid;
        grid-template-areas: 
        "se se"
        "d1 d2"
        ;
    }

    .article1 {
        grid-area: se;
        height: 90%;
        width: 90%;
        background-color: tomato;
        align-self: center;
        justify-self: center;
    }

    .article2 {
        grid-area: d1;
        height: 90%;
        width: 85%;
        background-color: greenyellow;
        align-self: center;
        justify-self: center;
        margin-left: 10px;
    }

    .article3 {
        grid-area: d2;
        height: 90%;
        width: 85%;
        background-color: greenyellow;
        align-self: center;
        justify-self: center;
        margin-right: 10px;
    }

}

@media screen and (max-width: 768px) {

    aside {
        height: 100px;
        width: 100px;
        z-index: 10000;
        position: absolute;
        background-color: white;
        left: 0;
        top: 180px;
    }

    main {
        height: 100vh;
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    header {
        padding-top: 10px;
        width: 95%;
        height: 180px;
        display: flex;
        align-self: center;
    }

    body {
        display: flex;
        justify-content: space-around;
        background-color: skyblue;
    }

    .logo {
        height: 100%;
        width: 24%;
        background-color: royalblue;
    }

    .rubrik {
        height: 100%;
        width: 76%;
        background-color: salmon;
    }

    #container {
        margin-top: 50px;
        background-color: skyblue;
        height: calc(100% - 240px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .del2 {
        height: 95%;
        width: 95%;
        background-color: teal;
        display: grid;
        grid-template-areas: 
        "d1 se"
        "d2 se"
        ;
    }

    .article1 {
        grid-area: se;
        height: 95%;
        width: 90%;
        background-color: tomato;
        align-self: center;
        justify-self: center;
    }

    .article2 {
        grid-area: d1;
        height: 90%;
        width: 90%;
        background-color: greenyellow;
        align-self: center;
        justify-self: center;
    }

    .article3 {
        grid-area: d2;
        height: 90%;
        width: 90%;
        background-color: greenyellow;
        align-self: center;
        justify-self: center;
    }

}