* {
    margin: 0;
}

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        justify-content: center;
        background-color: rgb(238, 238, 238);
    }

    main {
        height: 200vh;
        width: 1024px;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-top: 10px;
        margin-bottom: 200px;
        min-width: 1024px;
        height: auto;
        display: flex;
    }

    .logo {
        height: 100%;
        width: 20%;
        background-color: royalblue;
    }

    .rubrik {
        height: 100%;
        width: 80%;
        background-color: salmon;
    }

    #container {
        height: calc(100% - 200px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .del2 {
        padding-left: 10px;
        padding-right: 10px;
        width: 95%;
        height: 100%;
        background-color: #6E6E6E;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .article {
        width: 100%;
        height: 30%;
        background-color: gray;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .article > h1 {
        font-size: 70px;
    }

    .article > p {
        margin: 0 30px 50px 30px;
    }

    .menu {
        z-index: 99999;
        position: fixed;
        left: -420px;
        top: 0;
        width: 400px;
        height: 100vh;
        transition: left 1s;
        background-color: rgb(61, 61, 61);
        box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    }

    .show {
        left: 0;

    }

    .movebutton {
        left: 310px;
    }

    .aside_button {
        height: 70px;
        width: 70px;
        z-index: 10000;
        position: fixed;
        left: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: left 1s;
        cursor: pointer;
    }

    i.material-icons{
        font-size: 2.5rem;
        z-index: 9999;
    }

    .back_arrow {
        position: relative;
        left: 360px;
        top: 10px;
        color: white;
    }

}

@media screen and (max-width: 768px) {

    aside {
        height: 100px;
        width: 100px;
        z-index: 10000;
        position: absolute;
        background-color: white;
        left: 0;
        top: 180px;
    }

    main {
        height: 100vh;
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    header {
        padding-top: 10px;
        width: 95%;
        height: 180px;
        display: flex;
        align-self: center;
    }

    body {
        display: flex;
        justify-content: space-around;
        background-color: skyblue;
    }

    .logo {
        height: 100%;
        width: 24%;
        background-color: royalblue;
    }

    .rubrik {
        height: 100%;
        width: 76%;
        background-color: salmon;
    }

    #container {
        margin-top: 50px;
        background-color: skyblue;
        height: calc(100% - 240px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .del2 {
        height: 95%;
        width: 95%;
        background-color: teal;
        display: grid;
        grid-template-areas: 
        "d1 se"
        "d2 se"
        ;
    }

    .article1 {
        grid-area: se;
        height: 95%;
        width: 90%;
        background-color: tomato;
        align-self: center;
        justify-self: center;
    }

    .article2 {
        grid-area: d1;
        height: 90%;
        width: 90%;
        background-color: greenyellow;
        align-self: center;
        justify-self: center;
    }

    .article3 {
        grid-area: d2;
        height: 90%;
        width: 90%;
        background-color: greenyellow;
        align-self: center;
        justify-self: center;
    }

}