@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

* {
    margin: 0;
}

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        justify-content: center; 
    }

    .background {
        position: fixed;
        z-index: 0;
        height: 100vh;
        width: 100vw;
        background-image: url("/img/sunset.jpg");
        background-size: 100vw 100vh;
    }

    main {
        z-index: 1;
        height: 200vh;
        width: 1024px;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-top: 10px;
        margin-bottom: 200px;
        min-width: 1024px;
        height: auto;
        display: flex;
    }

    .logo {
        height: 100%;
        width: 20%;
        background-color: royalblue;
    }

    .rubrik {
        height: 100%;
        width: 80%;
        background-color: salmon;
    }

    #container {
        height: calc(100% - 200px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .del2 {
        padding-left: 10px;
        padding-right: 10px;
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .article {
        width: 100%;
        height: 30%;
        font-size: 40px;
        background-color: rgb(214, 214, 214, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
        box-shadow: 20px 20px 20px 10px rgb(0, 0, 0, 0.15);
    }

    .article > h1 {
        font-size: 70px;
        font-family: 'Teko', sans-serif;
    }

    .article > p {
        margin: 0 30px 50px 30px;
    }

    .menu {
        z-index: 99999;
        position: fixed;
        left: -420px;
        top: 0;
        width: 400px;
        height: 100vh;
        transition: left 1s;
        background-color: rgb(61, 61, 61);
        box-shadow: 0 0 20px 0 rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .menu > a {
        font-size: 300%;
        color: rgb(184, 184, 184);
        font-family: 'Teko', sans-serif;
    }

    .show {
        left: 0;
    }

    .aside_button {
        height: 70px;
        width: 70px;
        z-index: 10000;
        position: fixed;
        left: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: left 1s;
        cursor: pointer;
    }

    i.material-icons{
        font-size: 2.5rem;
        z-index: 9999;
    }

    .back_arrow {
        position: relative;
        left: 170px;
        top: 0;
        color: white;
        cursor: pointer;
    }

    #emptyspace {
        height: 50%;
    }

}

@media screen and (max-width: 768px) {

    main {
        z-index: 1;
        height: 200vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-top: 70px;
        padding-top: 10px;
        width: 95%;
        height: 90px;
        display: flex;
        align-self: center;
    }

    body {
        display: flex;
        justify-content: space-around;
    }

    .background {
        position: fixed;
        z-index: -1000;
        min-height: 100%;
        width: 100%;
        background-image: url("/img/sunset.jpg");
        background-size: 100vw 100vh;
    }

    .logo {
        height: 100%;
        width: 24%;
        background-color: royalblue;
    }

    .rubrik {
        height: 100%;
        width: 76%;
        background-color: salmon;
    }

    #container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .del2 {
        padding-left: 10px;
        padding-right: 10px;
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .article {
        width: 100%;
        height: 30%;
        font-size: 40px;
        background-color: rgb(214, 214, 214, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
        box-shadow: 20px 20px 20px 10px rgb(0, 0, 0, 0.15);
    }

    .article > h1 {
        font-size: 35px;
        font-family: 'Teko', sans-serif;
    }

    .article > p {
        margin: 0 30px 50px 30px;
        font-size: 18px;
    }

    .menu {
        z-index: 99999;
        position: fixed;
        left: -220px;
        top: 0;
        width: 200px;
        height: 100vh;
        transition: left 1s;
        background-color: rgb(61, 61, 61);
        box-shadow: 0 0 20px 0 rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .menu > a {
        font-size: 300%;
        color: rgb(184, 184, 184);
        font-family: 'Teko', sans-serif;
    }

    .show {
        left: 0;

    }

    .aside_button {
        height: 70px;
        width: 70px;
        z-index: 10000;
        position: fixed;
        left: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: left 1s;
        cursor: pointer;
    }

    i.material-icons{
        font-size: 2.5rem;
        z-index: 9999;
    }

    .back_arrow {
        position: relative;
        left: 80px;
        top: 10px;
        color: white;
        cursor: pointer;
    }

    #emptyspace {
        height: 50%;
    }

}